<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testfunction20190117073932.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dd570249-9f19-4784-b81b-8fe714408cc1/resourcegroups/SSAAzureDevCertAppOne/providers/Microsoft.Web/sites/TestFunction20190117073932</ResourceId>
    <UserName>$TestFunction20190117073932</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://testfunction20190117073932.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>